@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;700;800&display=swap');
        *{
            font-family: 'Barlow Condensed', sans-serif;
            
        }
        body{
            background-color: #E5E5E5;
            margin: 0;
            top: 0;
        }
        
        .info{
            position: relative;
            top: 0;
            width: 100%;
            height: 45px;
            background: #8bc34a;
            padding: 0 100px;
            box-sizing: border-box;
            align-items: center;
            transition: 0.5s;
        }
        h4{
            margin: 0;
            padding: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
        }

        nav{
            position: fixed;
            left: 0;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #2C4C3B;
            transition-duration: 600ms;
            font-weight:400;
            z-index: 500;
        }
        .sticky{
            top: 0;
            height: 120px;
        }

        .nestanak{
            display: none;
        }

        nav img{
            position: relative;
            padding-left: 200px;

        }

        nav ul {
            padding-right: 200px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        nav ul li{
            position: relative;
            list-style: none;
        }

        nav ul li a{
            font-family: 'Barlow Condensed', Bold 700;
            position: relative;
            margin: 0 15px;
            text-decoration: none;
            color: #fff;
            letter-spacing: 3px;
            transition: 0.3s;
        }
        nav ul li a:hover{
            color: #8FBC8F;
        }
        nav ul li img{
            width: 25px;
            height: 25px;
            padding-left: 20px;
            color: #8FBC8F;
            
        }

        .hamburger{
            display: none;
        }

        .animacija{
            width: 100%;
            height: 1000px;
            background-image: url("slika1.JPG");
            animation-name: example;
            box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
            animation-duration: 20s;
            animation-iteration-count: infinite;
            background-size: cover;
            overflow: hidden;

        }

        @keyframes example {
            0% {background-image: url("slika1.JPG");}
            10% {background-image: url("slika2.JPG");}
            22% {background-image: url("slika3.JPG");}
            35% {background-image: url("slika4.JPG");}
            50% {background-image: url("slika6.JPG");}
            62% {background-image: url("slika5.JPG");}
            73% {background-image: url("slika8.JPG");}
            87% {background-image: url("slika7.JPG");}
            100% {background-image: url("slika1.JPG");}
        }

        .tekst {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 100px;
            font-weight: 500;
        }

        body .prvi{
            padding-top: 100px;
        }

        .prviSection{
            display: flex;
            justify-content: center;
            padding-top: 100px;
            margin-bottom: 50px;
        }

        .drugiSection{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            margin-bottom: 50px;
        }
        .drugiSection .sadrzajInfo{
            padding: 30px;
        }
        .drugiSection .info1{
            width: 377px;
            height: 320px;
            background-color: white;
            margin-right: 50px;
        }
        .drugiSection .info2{
            width: 377px;
            height: 320px;
            background-color: white;
            margin-right: 50px;
        }
        .drugiSection .info3{
            width: 377px;
            height: 320px;
            background-color: white; 
        }
        .drugiSection h1{
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 0;
        }
        .drugiSection p{
            font-size: 20px;
            font-weight: 400;
        }
        .drugiSection a{
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            color: #8bc34a;
        }

        .first{
            width: 700px;
            float: left;
            height: 500px;
            background-color: #6B8E23;
            margin-right: 30px; 
        }
        .first p{
            font-size: 80px;
            margin-left: 50px;
            color: #fff
        }
        .first button{
            margin-left: 50px;
            width: 200px;
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            height: 50px;
            background-color: #8bc34a;
            border: #8bc34a;
            transition: 0.3s;
            cursor: pointer;
        }
        .first button:hover{
            transform: scale(1.1);
            background-color: #8FBC8F;

        }
        .second {
            width: 500px;
            float: left;
            height: 500px;
            background-image: url("slika1.JPG");
            animation-name: example1;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            background-size: cover;
            overflow: hidden;
        }
        .treciSection{
            background-color: white;
            padding-bottom: 30px;
        }
        .treciSection .naslovSection{
            padding-top: 40px;
            padding-bottom: 30px;
        }
        .treciSection .naslovSection h1{
            text-align: center;
            font-size: 35px;
            font-weight: 500;
        }
        .treciSection .naslovSection p{
            text-align: center;
            font-size: 20px;
            margin-top: -20px;
        }

        .treciSection .kontentSection{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            margin-bottom: 50px;
        }
        .treciSection .kontentSection .element1{
            border: 1px solid;
            border-color: #E5E5E5;
            margin-right: 50px;
        }
        .treciSection .kontentSection .element2{
            border: 1px solid;
            border-color: #E5E5E5;
            margin-right: 50px;
        }
        .treciSection .kontentSection .element3{
            border: 1px solid;
            border-color: #E5E5E5;
        }

        .treciSection .kontentSection .element1 img{
            width: 377px;
            height: 320px;
            background-size: cover;
            overflow: hidden;
        }
        .treciSection .kontentSection .element2 img{
            width: 377px;
            height: 320px;
            background-size: cover;
            overflow: hidden;
        }
        .treciSection .kontentSection .element3 img{
            width: 377px;
            height: 320px;
            background-size: cover;
            overflow: hidden;
        }
        .treciSection .kontentSection button{
            background-color:#2C4C3B;
            color: white;
            padding: 10px;
            font-size: 15px;
            font-weight: 500;
            margin-left: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
        }

        .treciSection .kontentSection .element1 .n{
            font-weight: 300;
            margin-left: 10px;
        }
        .treciSection .kontentSection .element1 h1{
            font-weight: 500;
            margin-left: 10px;
        }
        .treciSection .kontentSection .element1 .d{
            font-size: 20px;
            margin-left: 10px;
            color: #8bc34a;
        }
        .treciSection .kontentSection .element2 .n{
            font-weight: 300;
            margin-left: 10px;
        }
        .treciSection .kontentSection .element2 h1{
            font-weight: 500;
            margin-left: 10px;
        }
        .treciSection .kontentSection .element2 .d{
            font-size: 20px;
            margin-left: 10px;
            color: #8bc34a;
        }
        .treciSection .kontentSection .element3 .n{
            font-weight: 300;
            margin-left: 10px;
        }
        .treciSection .kontentSection .element3 h1{
            font-weight: 500;
            margin-left: 10px;
        }
        .treciSection .kontentSection .element3 .d{
            font-size: 20px;
            margin-left: 10px;
            color: #8bc34a;
        }
        .treciSection .dugmeSection{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            margin-bottom: 50px;
        }

        .treciSection .dugmeProizvodi{
            background-color:#8bc34a;
            width: 150px;
            height: 70px;
            color: white;
            padding: 10px;
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
        }

        footer{
            height: 400px;
            width: 100%;
            background-color: #2C4C3B;
            display: flex;
            justify-content: center;
        }

        footer .prava{
            width: 300px;
            margin-right: 500px;
            color: #8bc34a;
        }

        footer .prava p{
            margin-top: 300px;
            font-weight: 400;
            font-size: 20px;
        }


        footer .kontaktInfo{
            width: 300px;
            color: #8bc34a;
        }

        footer  h2{
            margin-top: 100px;

        }

        footer .kontaktInfo p{
            margin-top: 50px;
            font-weight: 400;
            font-size: 20px;
        }

        
        footer .vremeInfo{
            width: 300px;
            color: #8bc34a;
        }

        footer .vremeInfo p{
            margin-top: 50px;
            font-weight: 400;
            font-size: 20px;
        }

        footer .vremeInfo .linkovi a{
            margin-right: 20px;
            color: #8bc34a;
        }

        footer .vremeInfo .linkovi a i{
            margin-top: 40px;
            
        }
        footer .prava1{
            display: none;
        }

        .homeSection{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .homeSection .homeNaslov{
            display: flex;
            justify-content: center;
            margin-top: 150px;
            margin-bottom: 50px;
            color: #2C4C3B;
        }
        .homeSection .homeNaslov .homeNaslovNaslov{
            width: 750px;
            height: 400px;
            margin-right: 40px;
            background-color: #8bc34a;
        }

        .homeSection .homeNaslov .homeNaslovNaslov h1{
            font-size: 65px;
            margin-left: 70px;
            margin-bottom: 70px;
        }

        .homeSection .homeNaslov .homeNaslovNaslov p{
            font-size: 30px;
            font-weight: 500;
            margin-left: 70px;
        }

        .homeSection .homeNaslov .homeNaslovSlike{
            width: 500px;
            float: left;
            height: 400px;
            background-image: url("slika1.JPG");
            animation-name: example1;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            background-size: cover;
            overflow: hidden;
        }

        .homeSection .homeOpis{
            width: 1290px;
            height: 740px;
            background-color: white;
            margin-bottom: 50px;
        }

        .homeSection .homeOpis h1{
            margin-left: 50px;
            margin-right: 40px;
            margin-top: 40px;
            font-size: 40px;
            line-height: 1.0;

        }

        .homeSection .homeOpis p{
            margin-left: 50px;
            margin-right: 40px;
            margin-top: 40px;
            font-size: 20px;
            line-height: 1.5;
        }
        .homeSection .homeOpis .homeOpisSlike{
            display: flex;
            justify-content: center;
        }

        .homeSection .homeOpis .homeOpisSlike img{
            width: 280px;
            height: 200px;
            margin-right: 15px;
            margin-top: 25px;
        }

        .homeSection .homeOpis button{
            margin-left: 60px;
            margin-top: 40px;
            width: 250px;
            height: 50px;
            background-color:#8bc34a;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            border: none;
        }

        .proizvodiSection{
            display: flex;
            flex-direction: column;
            margin-top: 150px;
        }

        .proizvodiSection .proizvodiNaslov{
            text-align: center;
            width: 100%;
            height: 200px;
        }

        .proizvodiSection .proizvodiNaslov h1{
            font-weight: 600;
            font-size: 40px;
        }

        .proizvodiSection .proizvodiNaslov p{
            font-size: 25px;
            margin-top: -10px;
        }

        .proizvodiSection .proizvodiLista1{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .proizvodiSection .proizvodiLista2{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .proizvodiSection .proizvodiLista3{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .proizvodiSection .element{
            border: 1px solid;
            border-color: #B5B5B5;
            margin-right: 25px;
            margin-left: 25px;
        }

        .proizvodiSection .element .n{
            font-weight: 300;
            margin-left: 10px;
        }
        .proizvodiSection .element h1{
            font-weight: 500;
            margin-left: 10px;
        }
        .proizvodiSection .element .d{
            font-size: 20px;
            margin-left: 10px;
            color: #8bc34a;
        }
        .proizvodiSection .element img{
            width: 377px;
            height: 320px;
            background-size: cover;
            overflow: hidden;
        }
        .proizvodiSection button{
            background-color:#2C4C3B;
            color: white;
            padding: 10px;
            font-size: 15px;
            font-weight: 500;
            margin-left: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
        }

        .proizvodiDugmiciStranice{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .proizvodiDugmiciStranice .proizvodiDugme1{
            width: 50px;
            height: 50px;
            background-color: #2C4C3B;
            color: #fff;
            text-align: center;
        }
        .proizvodiDugmiciStranice .proizvodiDugme2{
            width: 50px;
            height: 50px;
            background-color: #8FBC8F;
            text-align: center;
        }
        
        .proizvodiDugmiciStranice .proizvodiDugme3{
            width: 50px;
            height: 50px;
            background-color: #8FBC8F;
            text-align: center;
        }
        .proizvodiDugmiciStranice a{
            text-decoration: none;
            color: #fff;
        }
        .proizvodiDugmiciStranice .proizvodiDugme2 :hover{
            color: #2C4C3B;
            cursor: pointer;
        }
        .proizvodiDugmiciStranice .proizvodiDugme3 :hover{
            color: #2C4C3B;
            cursor: pointer;
        }

        .proizvodi2DugmiciStranice{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .proizvodi2DugmiciStranice .proizvodi2Dugme1{
            width: 50px;
            height: 50px;
            background-color: #8FBC8F;
            color: #fff;
            text-align: center;
        }
        .proizvodi2DugmiciStranice .proizvodi2Dugme2{
            width: 50px;
            height: 50px;
            background-color: #2C4C3B;
            color: #fff;
            text-align: center;
        }
        
        .proizvodi2DugmiciStranice .proizvodi2Dugme3{
            width: 50px;
            height: 50px;
            background-color: #8FBC8F;
            text-align: center;
        }
        .proizvodi2DugmiciStranice a{
            text-decoration: none;
            color: #fff;
        }
        .proizvodi2DugmiciStranice .proizvodi2Dugme1 :hover{
            color: #2C4C3B;
            cursor: pointer;
        }
        .proizvodi2DugmiciStranice .proizvodi2Dugme3 :hover{
            color: #2C4C3B;
            cursor: pointer;
        }


        @keyframes example1 {
            0% {background-image: url("slika1.JPG");}
            10% {background-image: url("slika5.JPG");}
            22% {background-image: url("slika7.JPG");}
            35% {background-image: url("slika8.JPG");}
            50% {background-image: url("slika2.JPG");}
            62% {background-image: url("slika4.JPG");}
            73% {background-image: url("slika3.JPG");}
            87% {background-image: url("slika6.JPG");}
            100% {background-image: url("slika1.JPG");}
        }

        @media only screen and (max-width: 620px ){
            .info{
                position: relative;
                top: 0;
                width: 100%;
                height: 80px;
                background: #8bc34a;
                padding: 0 100px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                transition-duration: 0.5s;
            }

            header nav img{
                position: relative;
                transition: 0.6s;
                padding-left: 20px;
                height: 30px;
            }
            header nav ul{
                display: none;
            }
            header nav .hamburger{
                display: block;
                padding-right: 20px;
                color: #fff;
                height: 25px;
                
            }
            body .animacija{
            width: 100%;
            height: 500px;
            padding-top: 0;
            background-image: url("slika1.JPG");
            animation-name: example;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            background-size: cover;

            }
            body .animacija .tekst {
            position: relative;
            padding-left: 20px;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 50px;
            font-weight: 100;
            }

            body .prviSection{
                display: flex;
                justify-content: center;
                padding-top: 0px;
                margin-bottom: 50px;
                width: 100%;
            }

            body .prviSection .first{
                width: 100%;
                float: left;
                height: 300px;
                background-color: #6B8E23;
                margin-right: 0; 
            }
            body .prviSection .first p{
                font-size: 45px;
                color: #fff
            }
            body .prviSection .first button{
                margin-left: 30px;
                width: 150px;
                font-size: 15px;
                font-weight: 500;
                color: #fff;
                height: 35px;
                background-color: #8bc34a;
                border: #8bc34a;
                transition: 0.3s;
                cursor: pointer;
            }
            
            body .prviSection .second {
                display: none;
            }

            body .drugiSection{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0px;
                margin-bottom: 30px;
            }

            body .drugiSection .sadrzajInfo{
                padding: 30px;
            }
            body .drugiSection .info1{
                width: 377px;
                height: 320px;
                background-color: white;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            body .drugiSection .info2{
                width: 377px;
                height: 320px;
                background-color: white;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            body .drugiSection .info3{
                width: 377px;
                height: 320px;
                background-color: white;
                margin-right: 0px;
                margin-bottom: 20px; 
            }

            body .treciSection{
                background-color: white;
                padding-bottom: 30px;
            }
            body .treciSection .naslovSection h1{
                text-align: center;
                font-size: 30px;
                font-weight: 500;
            }
    
            body .treciSection .kontentSection{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0px;
                margin-bottom: 30px;
            }
            body .treciSection .kontentSection .element1{
                border: 1px solid;
                border-color: #E5E5E5;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            body .treciSection .kontentSection .element2{
                border: 1px solid;
                border-color: #E5E5E5;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            body .treciSection .kontentSection .element3{
                border: 1px solid;
                border-color: #E5E5E5;
                margin-bottom: 20px;
            }

            body .treciSection .kontentSection .element1 img{
                width: 300px;
                height: 250px;
                background-size: cover;
                overflow: hidden;
            }
            body .treciSection .kontentSection .element2 img{
                width: 300px;
                height: 250px;
                background-size: cover;
                overflow: hidden;
            }
            body .treciSection .kontentSection .element3 img{
                width: 300px;
                height: 250px;
                background-size: cover;
                overflow: hidden;
            }

            body .treciSection .kontentSection button{
                background-color:#2C4C3B;
                color: white;
                padding: 15px;
                font-size: 15px;
                font-weight: 500;
                margin-left: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                border: none;
            }
    
            body .treciSection .dugmeSection{
                display: flex;
                justify-content: center;
                padding-top: 0px;
                margin-bottom: 10px;
            }

            body footer{
                height: 550px;
                width: 100%;
                background-color: #2C4C3B;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0px;
                margin-bottom: 0px;
            }
    
            body footer .prava{
                display: none;
            }
    
            body footer  h2{
                margin-top: 50px;
    
            }
    
            body footer .kontaktInfo p{
                margin-top: 0px;
                font-weight: 400;
                font-size: 20px;
            }
    
    
            body footer .vremeInfo p{
                margin-top: 20px;
                font-weight: 400;
                font-size: 20px;
            }

            body footer .prava1{
                width: 300px;
                margin-right: 0px;
                color: #8bc34a;
                display: block;
            }

            body footer .prava1 p{
                margin-top: 40px;
                font-weight: 400;
                font-size: 20px;
            }
    
    
        }